doctype html
html
  head
    include ../include/head 
  body
    include ../include/body
    include ../layout/nav
    div.jumbotron(style='background-color:#FFE7BA')
      div.container
        div.row
          h1 
            strong Welcome to YDS's Blog
          h4.text-center --this website is built by node.js
          p
            a.btn.btn-success.btn.large(href='/home') Home
            &nbsp;&nbsp;
            a.btn.btn-primary(href='/login') Login
            &nbsp;&nbsp;
            a.btn.btn-warning(href='/reg') Register
          br
          br
        div.row
          div.col-md-4
            p 
              身无彩凤双飞翼,
              心有灵犀一点通。
            h4 
            strong --陆小凤
          div.col-md-4
            p 
              雁蝶为双翼,
              花香满人间。
            h4 
              strong --楚留香
          div.col-md-4
            p 起风了,唯有努力生存
            h4 
              strong --宫崎骏


