doctype html
html
  head
    include ../include/head 
  body
    include ../include/body
    include ../layout/nav
    .container
      .row
        .jumbotron.col-md-12(style='background-color: #FFE7BA')
          h1 
            strong Welcome to YDS's Blog
          h2.text-center(style='color: #919191; font: sans-serif;') 
            strong this website is built by node.js
          br
          p
            a.btn.btn-success.btn-lg(href='/home') Home
            &nbsp;&nbsp;
            a.btn.btn-primary.btn-lg(href='/login') Login
          //
            &nbsp;&nbsp;
            a.btn.btn-warning(href='/reg') Register
        .col-md-4
          h3.text-center
            身无彩凤双飞翼,
          h3.text-center
            &nbsp;&nbsp;心有灵犀一点通。
          h4.text-right
            strong --陆小凤
        .col-md-4
          h3.text-center
            起风了,唯有努力生存
          h4.text-right
            strong --宫崎骏
        .col-md-4
          h3.text-center
            雁蝶为双翼,
          h3.text-center
            &nbsp;&nbsp;花香满人间。
          h4.text-right 
            strong --楚留香
