doctype html
html
  head
    title= title
    block head
      link(rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet" href="/stylesheets/main.css")
  body
    block body
      script(src="/js/jquery.2.1.1.js")
      script(src="/js/bootstrap/js/bootstrap.min.js")
    include nav
    .container
      - if (succ && succ.length)
        .alert.alert-success.alert-dismissable
          button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
          strong Well done!
          | #{succ}
      .row
        .col-md-3
          include menu
        .col-md-9
          block content
    include footer 
