a(href='https://github.com/YDSS/My_Blog')
      img(alt='Fork me on Github' src='//s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png' style='position: absolute; top: 0; right: 0; border: 0;z-index: 9999')
div.navbar.navbar-inverse.navbar-fixed-top(role='banner')
  div.container
    div.navbar-header
      button.navbar-toggle(data-target='#navReg' data-toggle='collapse' type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/home') 
        strong YDS's Blog
    div#navReg.collapse.navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        - if (user)
          li
            a(href='/logout') 
              strong Logout
        - else
          li
            a(href='/login') 
              strong Login
        //
          li
            a(href='/reg') Register
